# Ignore Nextcloud data folder
nextcloud/data/

# Ignore Nextcloud database folder
nextcloud_db/

# Ignore Nginx config and certs
nginx/

nextcloud/

# Ignore SearxNG config
searxng/

# Ignore env files
.env
